@media screen and (min-width: 1200px) {
    
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /*=====HEADER=======*/
    
    .logotype {
        margin-right: 76px;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 24px;
    }
    
    .navigation-menu {
        display: flex;
        align-items: center;
    }

    .navigation-page {
        display: flex;
        align-items: center;
    }

    .navigation-menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .page-active::after {
        margin-top: 22px;
    }

    .address-menu {
        display: flex;
        gap: 40px;
    }

    .address-menu-link {
        font-style: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--dark-theme);
        transition: color var(--duration);
    }

    .page-active {
        position: relative;
    }
    .page-active::after {
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        background-color: var(--pressed-state);
        border-radius: 2px;
        position: absolute;
        margin-top: 22px;
    }

    .header-button {
        display: none;
    }

        /*=======HERO====*/
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../img/people-office-bg.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../img/hero-desk-2x.jpg);
        }
    }

    .hero-name {
        font-size: 56px;
        line-height: 1.07;
        color: var(--standart-white);
        max-width: 494px;
        margin-bottom: 48px;
    }
    /*===ABOUT US===*/

    .about-us-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us-menu-item {
        width: 264px;
    }

    .about-us-item-icon {
        display: flex;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-background);
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
    }
 
    /*===SERVICES SECTION====*/
    
    .services-section {
        display: block;
        padding-top: 0;
    }

    .services-section-list {
        display: flex;
    }

    .services-section-item:not(:nth-child(3n)) {
      margin-right: 24px;
    }

    /*====OUR TEAM===*/
    .content-menu {
        flex-direction: row;
        column-gap: 24px;
    }

    .social-links-list {
        max-width: 100%;
    }
    
    /*==CUSTOMERS==*/    
    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-menu-link {
        width: 168px;
        height: 88px;
    }

  /*===FOOTER===*/
    .footer {
        padding: 100px 0;
    }
    
    .footer-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .footer-title {
         text-align: left;
     }

    .footer-text {
        width: 264px;
    }

    .footer-description {
        margin-right: 120px;
        align-items: flex-start;
        justify-content: center;
    }

    .footer-link {
        justify-content: center;
        align-items: center;
    }
    

    .footer-subscribe {
        margin-left: 80px;
    }
    
    .subscribe-form {
        flex-direction: row;
        margin-top: 16px;
}

    .subscribe-field {
        width: 264px;
        height: 40px;
        margin-right: 24px;
    }

    /*===MODAL===*/
    .modal {
    position: absolute;
    width: 408px;
    height: 584px;
    top: 50%;
    left: 50%;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 24px;
    transform: translate(-50%, -50%) rotateY(0);
    }

    .modal-close {
        display: flex;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
    }

    .modal-button {
            display: block;
            margin: 0 auto;
            width: 169px;
            height: 56px;
            padding: 16px 32px;
            margin-top: 24px;
    }
    .privacy-text {
        flex-wrap: nowrap;
    }
}
