@media screen and (min-width: 1200px) {
    
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

        /*=======HERO====*/
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../img/people-office-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    }
    .hero-name {
        font-size: 56px;
        line-height: 1.07;
        color: var(--standart-white);
        max-width: 494px;
        margin-bottom: 48px;
    }
    /*===ABOUT US===*/

    .about-us-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us-menu-item {
        width: 264px;
    }

    .about-us-item-icon {
        display: flex;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        background-color: var(--light-background);
        margin-bottom: 8px;
        justify-content: center;
        align-items: center;
    }
 
    /*===SERVICES SECTION====*/
    
    .services-section {
        display: block;
        padding-top: 0;
    }

    .services-section-list {
        display: flex;
    }

    .services-section-item:not(:nth-child(3n)) {
      margin-right: 24px;
    }

    /*====OUR TEAM===*/
    .content-menu {
        flex-direction: row;
        column-gap: 24px;
    }

    .social-links-list {
        max-width: 100%;
    }
    
    /*==CUSTOMERS==*/    
    .customers-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-menu-link {
        width: 168px;
        height: 88px;
    }

  /*===FOOTER===*/
    .footer {
        padding: 100px 0;
    }
    
    .footer-container {
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .footer-title {
         text-align: left;
     }

    .footer-text {
        width: 264px;
    }

    .footer-description {
        margin-right: 120px;
        align-items: flex-start;
        justify-content: center;
    }

    .footer-link {
        justify-content: center;
        align-items: center;
    }
    

    .footer-subscribe {
        margin-left: 80px;
    }
    
    .subscribe-form {
        flex-direction: row;
        margin-top: 16px;
}

    .subscribe-field {
        width: 264px;
        height: 40px;
        margin-right: 24px;
    }
