@media screen and (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 428px;
    }


        /*=======HERO====*/
        .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../img/people-office-bg.jpg);
            max-width: 428px;
        }
    /*About us*/
    .about-us-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 72px;
        margin: 0 auto;
    }
    
    .about-us-menu-item {
        width: 396px;
    }

    .mob-tab-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
    }

    .mob-tab-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
    }
    /*What are we doing*/
    
    .services-section {
        display: none;
    }

    /*===MODAL===*/
    .modal {
        width: 392px;
        height: 586px;
        
    }
    .modal-close {
        position: absolute;
    }

    .modal-title {
        width: 360px;
    }
    .modal-button {
    margin-top: 24px;
    }
}