@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 768px;
    }

    /*=====HEADER====*/
    .navigation-menu {
        display: flex;
        align-items: center;
    }
    .navigation-menu-item:not(:last-child) {
        margin-right: 40px;
    }
    
    /*=======HERO====*/
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../img/people-office-bg.jpg);
        padding-bottom: 108px;

    }
    
    .hero-name {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        max-width: 494px;
        margin-bottom: 40px;
    }

    /*ABOUT US SECTION*/

    .about-us-item-icon {
        display: none;
    }
    
    .about-us-menu-item {
        width: 356px;
    }

    .about-us-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .mob-tab-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: left;
    }

    .mob-tab-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
    }

    /*CUSTOMERS*/
    
    .customers-menu-link {
        width: 168px;
        height: 88px;
    }
    
    .customers-menu {
        display: flex;
        column-gap: 24px;
    }

        /*===SERVICES SECTION====*/
    .services-section {
        display: none;
    }

    /*====OUR TEAM===*/
        .content-menu {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 72px;
        column-gap: 24px;
        }

    /*===FOOTER===*/
    
    .footer-container {
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
    }

    .footer-description {
    align-items: flex-start;
    justify-content: center;
    }

    .footer-title {
    text-align: left;
    }

    .footer-text {
        max-width: 264px;
    }


    .subscribe-form {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 496px;
        margin-top: 16px;
    }
    .subscribe-field {
        width: 264px;
        margin-right: 24px;
    }

    /*===modal====*/

    .modal {
        width: 408px;
        height: 586px;
        padding-right: 24px;
        padding-left: 24px;
    }

}